@{
    ViewBag.Title = "Reach Out";
}

<div style="margin: 40px">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>


    <section class="contact">
        <div>
            <h3>Email</h3>
            Support:
            <a href="mailto:support@bwaremap.com"> support@bwaremap.com </a>
        </div>
    </section>

    <section class="contact">
        <div>
            <h3>Address</h3>
            Lockport, NY
        </div>
    </section>
</div>
