@model IEnumerable<BwareAdmin.Models.UserViewModel>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Roles", "Role", new { id=item.UserId}) |
            @Html.ActionLink("Bridges", "Bridge", new { id=item.UserId }) 
        </td>
    </tr>
}

</table>
